.button--enabled {
    background: rgb(82, 133, 166);
}

.button--enabled:hover {
    background: rgb(98, 149, 183);
}

.button--enabled:pressed {
    background: rgb(50, 79, 98);
}

.tracking-info {
    padding: 0.1em 0.25em;
    background: rgba(0, 0, 0, 0.15);
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}
